/* Общий класс для всех заголовков h2 */
.headline {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px;
}

@media (max-width: 1025px) {
  .headline {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 35px;
  }
}

@media (max-width: 769px) {
  .headline {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px;
  }
}

@media (max-width: 769px) {
  .headline {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px;
  }
}

@media (max-width: 577px) {
  .headline {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
  }
}

@media (max-width: 321px) {
  .headline {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 15px;
  }
}

/* Блок логотипа */

.logo {
  display: block;
}

@media (max-width: 1120px) {
  .logo {
    height: 55px;
  }
}

/* Навигация в шапке */

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item {
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

@media (max-width: 1120px) {
  .nav__list {
    gap: 20px;
  }

  .nav__item {
    font-size: 18px;
    line-height: 22px;
  }
}