.header {
    padding: 30px 0 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__callback {
    border-radius: 10px;
    border: 3px solid var(--link-violet);
    padding: 12px 32px;
    background-color: transparent;
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    transition-duration: 1.2s;
}

.header__callback:hover,
.header__callback:focus {
    background-color: var(--input-violet);
    border: 3px solid transparent;
    outline: none;
    transition: background 0.8s ease-out;
}

.header__callback:active {
    background-color: var(--button-violet);
    outline: 1px solid var(--black);
}

/* Меню бургер для мобильных устройств */


.mobile-icon {
    display: none;
    width: 54px;
	height: 29px;
}

@media (max-width: 880px) {
    .mobile-icon {
        display: block;
    }
}

/* Медиа запросы */

@media (max-width: 1120px) {
    .header {
        margin: 0 0 30px;
    }

    .header__callback {
        padding: 10px 26px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 880px) {
    .nav {
        display: none;
    }
}

@media (max-width: 577px) {
    .header {
        padding: 20px 0 0;
    }
    .header__callback {
        display: none;
    }
}