/* .service__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.service__item {
    flex: 0 1 380px;
    padding: 166px 40px 6px;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 228px;
    transition-duration: 0.8s;
} */

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(3, minmax(135px, 380px)); */
    gap: 40px 20px;
}

.service__item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 228px;
    transition-duration: 0.8s;
    display: flex;
    align-items: flex-end;
    padding: 0 20px 20px;
}

.service__item:nth-child(2) {
    margin-top: 70px;
}

.service__item:nth-child(2n+4) {
    margin-top: -70px;
}

.service__item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s linear;
}

.service__name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.service__item_decor-vr {
    background-image: url(img/vr.jpg); 
    
}
  
.service__item_decor-audio { 
    background-image: url(img/audio.jpg);
}
  
.service__item_decor-karaoke {
    background-image: url(img/karaoke.jpg);
}
  
.service__item_decor-games {
    background-image: url(img/games.jpg);
}

.service__item_decor-cinema {
    background-image: url(img/cinema.jpg);
}

.service__item_decor-ps {
    background-image: url(img/ps.jpg);
}

@media (max-width: 1025px) {
    .service__list {
        gap: 30px 20px;
    }
    .service__item {
        padding: 0 20px 16px;
        height: 172px;
    }
}

@media (max-width: 810px) {
    .service__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .service__item {
        height: 200px;
    }
    .service__item:nth-child(2),
    .service__item:nth-child(2n+4) {
        margin: 0;
    }
}

@media (max-width: 577px) {
    .service__list {
        gap: 10px;
    }
    .service__item {
        height: 150px;
    }
    .service__name {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 481px) {
    .service__item {
        height: 120px;
    }
    .service__name {
        font-size: 10px;
        line-height: 14px;
    }
}

@media (max-width: 321px) {
    .service__item {
        height: 75px;
        align-items: flex-start;
        padding: 30px 0 0 10px;
    }
}