.feedback__list {
    padding: 0 100px;
    display: grid;
    gap: 50px;
}

.feedback__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

.feedback__image-wrapper {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 0 11px;
}

.feedback__image-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    border-radius: 50%;
}

.feedback__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.feedback__name {
    text-align: center;
}

.feedback__text {
    align-self: center;
}

@media (max-width: 1025px) {
    .feedback__list {
        gap: 40px;
    }    
    .feedback__item {
        gap: 38px;
    }
    .feedback__image-wrapper {
        width: 172px;
        height: 172px;
        margin: 0 0 21px;
    }
    .feedback__name,
    .feedback__text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 769px) {
    .feedback__list {
        gap: 30px;
    }
    .feedback__item {
        gap: 16px;
    }
    .feedback__image-wrapper {
        width: 153px;
        height: 153px;
        margin: 0 0 17px;
    }
    .feedback__name {
        font-size: 14px;
        line-height: 20px;
    }
    .feedback__text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 600px) {
    .feedback__list {
        padding: 0 50px;
    }
}

@media (max-width: 577px) {
    .feedback__list {
        padding: 0;
    }
    .feedback__item {
        grid-template-columns: 1fr;
    }
    .feedback__image-wrapper {
        width: 100px;
        height: 100px;
        margin: 0 auto 9px;
    }
    .feedback__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 481px) {
    .feedback__image-wrapper {
        width: 86px;
        height: 86px;
    }
    .feedback__text {
        font-size: 12px;
        line-height: 16px;
    }
}