.poster__title {
    font-size: 150px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -15px;
}

.poster__subtitle {
    font-size: 28px;
    line-height: 50px;
    padding: 0 0 0 100px;
}