.faq {
    padding: 0 30px;
  }

.faq__item {
    padding: 30px 70px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
    font-size: 24px;
}

.faq__item:nth-child(odd) {
    background-color: var(--white);
    color: var(--color-faq-odd);
}

.faq__item:nth-child(even) {
    background-color: var(--bg-violet);
    color: var(--white);
}

.faq__item:nth-child(odd):hover,
.faq__item:nth-child(even):hover {
    color: var(--faq-hover);
}

.faq__item:focus {
    color: var(--faq-hover);
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition-duration: 0.6s;
}

.faq__link:focus {
    outline: none;
    border-radius: 10px;
    transition: outline 0.4s linear;
    text-decoration: underline;
}

.faq__icon {
    width: 46px;
    height: 46px;
}

@media (max-width: 1025px) {
    .faq__item {
        font-size: 20px;
        line-height: 24px;
        padding: 23px 30px;
        margin-bottom: 16px;
    }
    .faq__item:nth-child(even) {
        background-color: var(--white);
        color: var(--color-faq-odd);
    }
    .faq__link-even:after {
        background-image: url(img/open-purple.svg);
    }
    .faq__link-even:hover:after {
        background-image: url(img/open-purple-hover.svg);
    }
    .faq__link-even:active:after {
        background-image: url(img/open-purple-active.svg);
    }
}

@media (max-width: 769px) {
    .faq__item {
        font-size: 18px;
        padding: 23px 54px;
    }
}

@media (max-width: 670px) {
    .faq {
      padding: 0 15px;
    }
}

@media (max-width: 600px) {
    .faq__item {
        font-size: 12px;
        line-height: 16px;
        padding: 7px 10px;
        margin-bottom: 10px;
    }
    .faq__icon {
        width: 30px;
        height: 30px;
    }
}